
<!-- debut formulaire aller -->
<form [formGroup]="formaller" (ngSubmit)="onSubmit()">

<div class="container">
    <div class="row mt-5 mb-5">
      <div class="col">
        <div class="form-group"> 
        <label for="villedepart">Choisir une ville de depart</label> 
        <div class="input-group mb-3" >
          <label class="input-group-text" for="inputGroupSelect01"><img src="assets/pointarriver.svg" alt="pointarriver" class="pointarriver"></label>
          <select class="form-select" id="inputGroupSelect01" formControlName="villedepart">
            <option selected>Choisissez une ville de départ</option>
            <option *ngFor="let ville of villes" value="{{ville.id_ville}}/{{ville.nom}}">{{ville.nom}}</option>
          </select>
        </div>
        </div>    
      </div>

      <div class="col">
        <div class="form-group">
        <label for="villearriver">Choisir une ville d'arriver</label>
        <div class="input-group mb-3" >
          <label class="input-group-text" for="inputGroupSelect01"><img src="/assets/pointdepart.svg" alt="pointdepart" class="pointdepart"></label>
          <select class="form-select" id="inputGroupSelect01" formControlName="villearriver" >
            <option selected>Choisissez une ville d'arriver</option>
            <option *ngFor="let ville of villes" value="{{ville.id_ville}}/{{ville.nom}}">{{ville.nom}}</option>
          </select>
        </div>
      </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="transporteur">Choisir un transporteur</label>
        <div class="input-group mb-3" >
          <label class="input-group-text" for="inputGroupSelect01"><img src="/assets/transporteur.svg" alt="transporteur" class="transporteur"></label>
          <select class="form-select" id="inputGroupSelect01" formControlName="transporteur" >
            <option selected>Choisissez un transporteur</option>
            <option *ngFor="let compagnie of compagnies" value="{{compagnie.id_compagny}}/{{compagnie.nom}}">{{compagnie.nom}}</option>
          </select>
        </div>
      </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label for="nombre">Nombre de personne</label>
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01"><img src="/assets/personne.svg" alt="personne" class="personne"></label>
            <input type="number" name="nombre" id="nombre"min="0" class="form-control">
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="form-group">
          <label for="date">Choisir une date </label>
        <div class="input-group mb-3" >
          <label class="input-group-text" for="inputGroupSelect01"><img src="/assets/calendrier.svg" alt="calendrier" class="calendrier"></label>  
          <input type="date" formControlname="datealler" class="form-control" value="datealler">
        </div>
      </div>
      </div>
      
      <div class="col-4 me-10">
        <div class="form-group">
          <label for="recherche">   </label>
        <div class="input-group">
          <button type="submit"  class="btn btn-outline-info recherche">Recherche</button> 
        </div>
        
      </div>
      </div>
    </div>
  </div>
</form>  
  <!-- fin formulaire aller -->
