
<!-- debut formulaire aller -->
<div class="container">
    <div class="row mt-5 mb-5">
      <div class="col">
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01"><img src="assets/pointarriver.svg" alt="pointarriver" class="pointarriver"></label>
          <select class="form-select" id="inputGroupSelect01">
            <option selected>Choisissez une ville de départ</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>    </div>
      <div class="col">
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01"><img src="/assets/pointdepart.svg" alt="pointdepart" class="pointdepart"></label>
          <select class="form-select" id="inputGroupSelect01">
            <option selected>Choisissez une ville d'arriver</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01"><img src="/assets/transporteur.svg" alt="transporteur" class="transporteur"></label>
          <select class="form-select" id="inputGroupSelect01">
            <option selected>Choisissez un transporteur</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-4">
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01"><img src="/assets/personne.svg" alt="personne" class="personne"></label>
          <select class="form-select" id="inputGroupSelect01">
            <option selected>Choisissez le nombre personne</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
      <div class="col-4">
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01"><img src="/assets/calendrier.svg" alt="calendrier" class="calendrier"></label>
          <select class="form-select" id="inputGroupSelect01">
            <option selected>Selectionnez une date</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
      <div class="col-4 me-10">
        <div class="input-group">
          <button type="button" class="btn btn-outline-info recherche" routerLink="/recherche">Recherche</button>
        </div>
      </div>
    </div>
  </div>
  <!-- fin formulaire aller -->