<div>
    <div class="card mb-3 mt-5 borderinscription"><!--style="max-width: 540px;"-->
        
        <div class="row g-0">
            <h1 class="titre">INSCRIPTION</h1>
          <div class="col-md-6 inscriptionimg">
            <img src="/assets/welcome.svg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <input class="form-control my-3 mt-5" type="text" placeholder="Veuillez entrez votre nom" aria-label=".form-control-lg example">
              <input class="form-control my-3"  type="text" placeholder="Veuillez entrez votre prenoms" aria-label="default input example">
              <input class="form-control my-3" type="date" placeholder="Veuillez entrez votre date de naissance" aria-label=".form-control-sm example">
              <input class="form-control my-3" type="text" placeholder="Veuillez entrez votre telephone" aria-label=".form-control-sm example">
              <input class="form-control my-3" type="email" placeholder="Veuillez entrez votre email" aria-label=".form-control-sm example">
              <input class="form-control my-3" type="password" placeholder="Veuillez entrez votre mot de passe" aria-label=".form-control-sm example">
              <input class="form-control my-3" type="password" placeholder="Veuillez confirmez votre mot de passe" aria-label=".form-control-sm example">
              <input class="form-control my-3" type="text" placeholder="Veuillez entrez votre nom utilisateur" aria-label=".form-control-sm example">
              <input class="form-control my-3" type="text" placeholder="Veuillez entrez le nom de votre compagnie" aria-label=".form-control-sm example">
              <input class="form-control my-3" type="text" placeholder="Veuillez entrez le nom de votre gare" aria-label=".form-control-sm example">
              <button type="button" class="btn btn-primary btn-lg">Envoyer</button>
            </div>
          </div>
        </div>
      </div>
</div>