<div class="footer">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a routerLink="/" class="nav-link px-2">accueil</a></li>
        <li class="nav-item"><a routerLink="/contact" class="nav-link px-2">contact</a></li>
        <li class="nav-item"><a routerLink="/apropos" class="nav-link px-2">apropos</a></li>
        <li class="nav-item"><a routerLink="/connecter" class="nav-link px-2">se connecter</a></li>
        <li class="nav-item"><a routerLink="/inscrire" class="nav-link px-2">s'inscrire</a></li>
      </ul>
      <p class="text-center">Copyrith 2023-WOTROTICKET</p>
    </footer>
  </div>