<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/autocar1.jpg" height="600px" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/route.jpg"  height="600px" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/autocar2.jpg"  height="600px" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> 


<div class="container mt-5">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 text-center">
      <button type="button" class="btn btn-outline-info me-3" (click)="onactive()">Info</button>
      <button type="button" class="btn btn-outline-info" (click)="onactive()">Info</button>
    </div>
    <div class="col-3"></div>
    
    <div *ngIf="!linkactive">
      <app-formaller></app-formaller>
    </div>
   <div *ngIf="linkactive">
    <app-formallerretour></app-formallerretour>
  </div>
</div>
























<div class="row mt-5 mb-5">
  <h3 class="text-center">
    Acheter votre ticket en toute sécurité avec WOTRO_TICKET et gagnez en temps
  </h3>
</div>

  <!-- debut des cards -->
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
        </div>

      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
      </div>
    
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- fin des cards -->

