<!-- debut image -->
<div id="carouselExampleControls" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/route.jpg " height="600px" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <div class="row mt-5 mb-10 " class="text">
            <h3 class="text-center">
              Acheter votre ticket en toute sécurité avec WOTROTICKET et gagnez en temps
            </h3>
          </div>
      </div>
      </div>
    </div>
  </div>
  <!-- fin image  -->

  <!-- debut formulaire -->
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6 text-center">
        <button type="button" class="btn btn-outline-info me-3 button" (click)="onactive()">Aller</button>
        <button type="button" class="btn btn-outline-info button" (click)="onactive()">AllerRetour</button>
      </div>
      <div class="col-3"></div>
      <!-- pour poser une condition sur les boutons aller et retour, si aller est active alors desactiver le bouton allerrtour -->
      <div *ngIf="!linkactive">
        <app-formaller></app-formaller>
      </div>
      <div *ngIf="linkactive">
        <app-formallerretour></app-formallerretour>
      </div>
    </div>
  </div>
  <!-- fin formulaire -->

  <div class="mb-5 bg-light p-5">
      <!-- debut text après le formulaire -->
      <div class="row mt-5 mb-10 " class="text" >
          <h3 class="text-center"> Utiliser Wotroticket c'est avoir</h3>
      </div>
      <!-- fin text après le formulaire -->

      <!-- debut des cards -->
      <div class="container">
        <div class="row g-4 py-3 row-cols-1 row-cols-lg-3">
          <div class="col">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h6 class="card-title">Un gain de temps considérable</h6>
                <p class="card-text">Notre plateforme permettra au client d'éffectuer un achat ticket sans forcement se déplacé. Cela lui permettra de gagné un temps considérable, et pourra vaquer à d'autre chose. Et notre plateforme est ouverte 24h/24h,7jours/7jours.</p>
                <a href="#" class="card-link">lire la suite</a>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h6 class="card-title">Un payement par mobile money</h6>
                <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                <p class="card-text">Plus besoin de cash.
                  Réglez votre achat de ticket directement par un mode de paiement mobile money.
                  Wotroticket est disponible sur Orange Money, MTN Money et Flooz Money.</p>
                <!-- <a href="#" class="card-link">Card link</a> -->
                <a href="#" class="card-link">lire la suite</a>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h6 class="card-title">Un transporteur</h6>
                <!-- <h6 class="card-subtitle mb-2 text-muted"></h6> -->
                <p class="card-text">Pour vous simplifier la vie, nous allons chercher les horaires et  les tarifs des différents transporteurs partenaires.
                  Vous pouvez donc comparer les horaires de départs et les différents tarifs sans vous déplacer.</p>
                <!-- <a href="#" class="card-link">Card link</a> -->
                <a href="#" class="card-link">lire la suite</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- fin des cards -->
  
  <!-- debut nos partenaires-->
<!-- <div class="container mb-5">
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active ">
        <div class="row">
          <div class="col card me-3 "><img src="" alt="logoavs"></div>
          <div class="col card me-3"><img src="" alt="logosbta"></div>
          <div class="col card me-3"><img src="" alt="logocte"></div>
          <div class="col card"><img src="" alt="logoot"></div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col card me-3 "><img src="/assets/logoavs.png" alt="logoavs"></div>
          <div class="col card me-3"><img src="/assets/logosbta.png" alt="logosbta"></div>
          <div class="col card me-3"><img src="/assets/logocte.jpeg" alt="logocte"></div>
          <div class="col card"><img src="/assets/logoot.jpeg" alt="logoot"></div>
        </div>
      </div>
      <div class="carousel-item active ">
        <div class="row">
          <div class="col card me-3 "><img src="/assets/logoavs.png" alt="logoavs"></div>
          <div class="col card me-3"><img src="/assets/logosbta.png" alt="logosbta"></div>
          <div class="col card me-3"><img src="/assets/logocte.jpeg" alt="logocte"></div>
          <div class="col card"><img src="/assets/logoot.jpeg" alt="logoot"></div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div> -->
<!-- fin nos partenaires -->

<!--  -->
<div class="p-5 mb-5">
  <div class="container">
      <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class="card">
              <img src="/assets/imagecte.jpeg" class="card-img-top" alt="imagecte">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="/assets/imageavs.jpeg" class="card-img-top" alt="avs">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="/assets/carsbta.png" class="card-img-top" alt="carsbta">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="/assets/ot.png" class="card-img-top" alt="carot" style="height: 300px;">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
<!--  -->

