<div class="container-fluid mt-5 mb-5">
    <div class="card">
        <div class="row align-items-center">
            <div class="col-4"></div>
            <div class="col-6">
                <div class="card-body">
                    <ul>
                        <li class="list-group-item">A list item</li>
                        <li class="list-group-item">A list item</li>
                        <li class="list-group-item">A list item</li>
                    </ul>
                </div>
            </div>
            <div class="col-2 text-center">
                <div class="btn btn-primary">Reserver</div>
            </div>
        </div>
    </div>
</div>