<div class="container">
    <main class="form-signin w-100 ">
      
      </main>
</div>

<div class="modal modal-tour position-static d-block bg-subtle py-5" tabindex="-1" role="dialog" id="modalTour">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-body p-5">
          <h2 class="fw-bold mb-2">Se connecter</h2>
          <form>        
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" placeholder="votre nom utilisateur">
              <label for="floatingInput">votre nom utilisateur</label>
            </div>
            <div class="form-floating mt-3">
              <input type="password" class="form-control" id="floatingPassword" placeholder="votre mot de passe">
              <label for="floatingPassword">votre mot de passe</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Connexion</button>
            <p class="text-end mt-3">créé un compte!<a href="">s'inscrire</a></p>
          </form>
         
        </div>
      </div>
    </div>
  </div>